# Виртуальные окружения
.venv/
venv/
ENV/
env/

# Секреты подключения к БД
.env

# Кэш Python
__pycache__/
*.pyc

# Сборка PyInstaller
build/
dist/
*.spec

# Системные файлы Mac и Windows
.DS_Store
Thumbs.db

# Настройки сред разработки
.idea/
.vscode/

# Черновое Игоря
shortcutsPC.md
testing_igor.sql
